<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  

  <ion-card>
    <img src="/assets/contact.png" alt="ion">

    <ion-card-header>
      <ion-card-subtitle>Community Radio</ion-card-subtitle>
      <ion-card-title>Puneri Awaz 107.8 FM</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div [innerHTML]="sanitizer.bypassSecurityTrustHtml(settingsData.contact_us)"></div>
    </ion-card-content>
  
    
    <ion-footer>
      <ion-row>
        <!-- <ion-col center text-center>
          <ion-button>
            <ion-icon name="thumbs-up"></ion-icon>
            <span>1.5k Likes</span>
          </ion-button>
        </ion-col>

        <ion-col center text-center>
          <ion-button>
            <ion-icon name="time"></ion-icon>
            <div>11h ago</div>
          </ion-button>
        </ion-col> -->
      </ion-row>
    </ion-footer>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Location</ion-card-title> 
    </ion-card-header>
    <ion-card-content >
      <div #mapCanvas id="mapCanvas" class="map-canvas"></div>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
    </ion-card-content>
    <div class="ion-text-center">
      <ion-button color="primary" href="https://www.google.com/maps/dir/?api=1&travelmode=driving&layer=traffic&destination=18.6032531,73.7869188" target="_blank"><ion-icon name="map-outline"></ion-icon> Open with Google Map</ion-button>
    </div>
    
       
  </ion-card>

</ion-content>
