
.bottom {
    position: absolute;
    display: block;
    bottom: 0;
}
.center {
    text-align: center;
}
.bg-image {
    --background: url("/assets/bg.png") 0 0/100% 100% no-repeat
} 
   
//    --background: url("/assets/bg.jpg") no-repeat center/cover fixed;

.rplay  {
    margin: -35px;
    width: 120px;
    height: 120px;
    line-height: 80px;
}
.rplay > ion-icon {
    margin: -40px;
    width: 50px;
    height: 50px;
    line-height: 80px;
}

canvas {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: -3px;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.7),
                0 3px 4px rgba(0,0,0,0.7);
  }

  .listeners{
    margin-top:-100px;
    height:100px;
    position:relative;
    padding:20 10px;
  }