<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-buttons> -->
    <ion-title>Radio - Puneri Awaz </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-image">
  <ion-fab vertical="center" horizontal="center" slot="fixed">
    <ion-fab-button (click)="play(this.state.playing)" class="rplay">
      <ion-icon name="play" *ngIf="!state?.playing"></ion-icon>
      <ion-icon name="pause-sharp" [hidden]="!state?.playing"></ion-icon>
      
    </ion-fab-button>
  </ion-fab>
  <!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="listeners>0">
    <ion-fab-button color="tertiary">
      <ion-badge color="success">{{listeners}}</ion-badge>
    </ion-fab-button>
  </ion-fab> -->

  <!-- <div id="content">cccc
    <canvas #myCanvas id="canvas"></canvas>
  </div> -->
  
  <div id="equalizer" class="bottom" *ngIf="equilizerState">
    <div id="horizontal"></div>
    <div id="vertical-lines">
      <ng-container *ngFor="let item of range(120)">
        <div class="vertical" [ngStyle]="{'animation': 'equalizer '+ rnd() +'s ease infinite'}"></div>
      </ng-container>
    </div>
  </div>

  <div class="center" *ngIf="loader">
    
    <div class="bottom"><h5 class="loading-text ion-text-center" >Loading stream...</h5></div>
    <ion-progress-bar class="bottom" value="0.25" buffer="0.5" color="primary"></ion-progress-bar>
    
  </div>
</ion-content>
