.mt {
    margin-top: 3rem;
}

ion-spinner#loader {
    width: 3rem;
    height: 3rem;
}
.bg-image {
    --background: url("/assets/bg.png") 0 0/100% 100% no-repeat
} 
   
//    --background: url("/assets/bg.jpg") no-repeat center/cover fixed;