<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-buttons> -->
    <ion-title>Radio</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="bg-image">
  <ion-fab vertical="center" horizontal="center" slot="fixed">
    <ion-fab-button (click)="play(this.state.playing)" class="rplay">
      <ion-icon name="play" *ngIf="!state?.playing"></ion-icon>
      <ion-icon name="pause-sharp" [hidden]="!state?.playing"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="center" *ngIf="loader">
    <h5 class="bottom">Loading stream...</h5>
    <ion-progress-bar class="bottom" value="0.25" buffer="0.5" color="tertiary"></ion-progress-bar>
  </div>
</ion-content>
