<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Puneri Awaaz - Radio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Radio</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab vertical="center" horizontal="center" slot="fixed">
    <ion-fab-button (click)="playRadio(playState)">
      <ion-icon name="play-outline" *ngIf="!playState"></ion-icon>
      <div class="state playing" [hidden]="!playState">
        <div class="loader loader--style4" title="3">
          <svg
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            width="24px"
            height="24px"
            viewBox="0 0 24 24"
            style="enable-background: new 0 0 50 50"
            xml:space="preserve"
          >
            <rect x="0" y="0" width="4" height="7" fill="#333">
              <animateTransform
                attributeType="xml"
                attributeName="transform"
                type="scale"
                values="1,1; 1,3; 1,1"
                begin="0s"
                dur="0.6s"
                repeatCount="indefinite"
              />
            </rect>

            <rect x="10" y="0" width="4" height="7" fill="#333">
              <animateTransform
                attributeType="xml"
                attributeName="transform"
                type="scale"
                values="1,1; 1,3; 1,1"
                begin="0.2s"
                dur="0.6s"
                repeatCount="indefinite"
              />
            </rect>
            <rect x="20" y="0" width="4" height="7" fill="#333">
              <animateTransform
                attributeType="xml"
                attributeName="transform"
                type="scale"
                values="1,1; 1,3; 1,1"
                begin="0.4s"
                dur="0.6s"
                repeatCount="indefinite"
              />
            </rect>
          </svg>
        </div>

      </div>
    </ion-fab-button>
  </ion-fab>

  <div class="ion-text-center">
    <ion-progress-bar type="indeterminate" *ngIf="loader"></ion-progress-bar>
  </div>

</ion-content>
