<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-accordion-group>
    <ion-accordion value="about">
      <ion-item slot="header">
        <ion-label>About Puneri Awaaz</ion-label>
      </ion-item>
  
      <ion-list slot="content">
        <ion-item>
          <ion-label [innerHTML]="settingsData.about_radio"></ion-label>
        </ion-item>
      </ion-list>

    </ion-accordion>
    <ion-accordion value="contact">
      <ion-item slot="header">
        <ion-label>Contact Us</ion-label>
      </ion-item>
  
      <ion-list slot="content">
        
        <ion-item>
          <ion-label [innerHTML]="settingsData.contact_us"></ion-label>
        </ion-item>
      </ion-list>

    </ion-accordion>
  </ion-accordion-group>

</ion-content>
