<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Privacy Policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Privacy Policy</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Our privacy policy states that bla bla bla blah blah blah.
    </ion-card-content>
  </ion-card>
</ion-content>
